<footer class="foot row"><span>Copyright &copy; 逮呆</span> <span id="cpdate">2018-</span>
    <script>
        var cpdate = document.getElementById("cpdate");
        var endYear = new Date().getFullYear();
        cpdate.innerHTML += endYear;
    </script>
    <a href="https://www.cnblogs.com/chuanzi/">我的博客</a> <a href="" title="访客止步" id="loginClick"
                                                           class="hidden-xs">后台管理</a> <a href="javascript:void(0);"
                                                                                         id="toTop">返回顶部</a></footer>