<div class="aside">
    <div class="profile">
        <img class="avatar" src="/baixiu/uploads/avatar.jpg">
        <h3 class="name">布头儿</h3>
    </div>
    <ul class="nav">
        <li class="{{ current == 'index' ? 'active': ''}}">
            <a href="/baixiu/admin/"><i class="fa fa-dashboard"></i>首页</a>
        </li>
        <li class="{{ current.indexOf('article') !== -1 ? 'active': ''}}">
            <a href="#menu-posts" class="collapsed" data-toggle="collapse">
                <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
            </a>
            <ul id="menu-posts" class="collapse {{ current.indexOf('article') !== -1 ? 'in': ''}}">
                <li class="{{ current == 'articles' ? 'active': ''}}"><a href="/baixiu/admin/articles">所有文章</a></li>
                <li  class="{{ current == 'article-edit' ? 'active': ''}}"><a href="/baixiu/admin/article/edit">写文章</a></li>
                <li class="{{ current == 'article-categories' ? 'active': ''}}"><a href="/baixiu/admin/article/categories">分类目录</a></li>
            </ul>
        </li>
        <li class="{{ current == 'comments' ? 'active': ''}}">
            <a href="/baixiu/admin/comments"><i class="fa fa-comments"></i>评论</a>
        </li>
        <li class="{{ current == 'users' ? 'active': ''}}">
            <a href="/baixiu/admin/users"><i class="fa fa-users"></i>用户</a>
        </li>
        <li class="{{ current.indexOf('setting') !== -1 ? 'active': ''}}">
            <a href="#menu-settings" class="collapsed" data-toggle="collapse">
                <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
            </a>
            <ul id="menu-settings" class="collapse {{ current.indexOf('setting') !== -1 ? 'in': ''}}">
                <li class="{{ current == 'setting-nav-menus' ? 'active': ''}}"><a href="/baixiu/admin/setting/nav-menus">导航菜单</a></li>
                <li class="{{ current == 'setting-slides' ? 'active': ''}}"><a href="/baixiu/admin/setting/slides">图片轮播</a></li>
                <li class="{{ current == 'settings' ? 'active': ''}}"><a href="/baixiu/admin/settings">网站设置</a></li>
            </ul>
        </li>
    </ul>
</div>