<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student management system</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    {{ include './css/index.css.html'}}
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">学生管理系统</h2>
            <a class="btn btn-success" href="/student/new">添加学生</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>爱好</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ each students }}
                    <tr>
                        <td>{{ $index + 1 }}</td>
                        <td>{{ $value.name }}</td>
                        <td>{{ $value.gender == 0 ? '男': '女' }}</td>
                        <td>{{ $value.age }}</td>
                        <td>{{ $value.hobbies }}</td>
                        <td>
                            <a href="/student/edit?id={{ $value._id }}">编辑</a>
                            <a href="/student/delete?id={{ $value._id }}">删除</a>
                        </td>
                    </tr>
                    {{ /each }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>
