<script>
    (function (window) {
        function Player($audio) {
            return new Player.prototype.init($audio);
        }
        Player.prototype = {
            constructor: Player,
            musicList: [],
            init: function ($audio) {
                this.$audio = $audio;
                this.audio = $audio.get(0);
            },
            currentIndex: -1,
            playMusic: function (index, music) {
                if(this.currentIndex == index){
                    // 同一首音乐
                    if(this.audio.paused){
                        this.audio.play();
                    }else{
                        this.audio.pause();
                    }
                }else {
                    // 不是同一首
                    this.$audio.attr("src", music.link_url);
                    this.audio.play();
                    this.currentIndex = index;
                }
            },
            preIndex: function () {
                var index = this.currentIndex - 1;
                if(index < 0){
                    index = this.musicList.length - 1;
                }
                return index;
            },
            nextIndex: function () {
                var index = this.currentIndex + 1;
                if(index > this.musicList.length - 1){
                    index = 0;
                }
                return index;
            },
            changeMusic: function (index) {
                // 删除对应的数据
                this.musicList.splice(index, 1);

                // 判断当前删除的是否是正在播放音乐的前面的音乐
                if(index < this.currentIndex){
                    this.currentIndex = this.currentIndex - 1;
                }
            },
            musicTimeUpdate: function (callBack) {
                var $this = this;
                this.$audio.on('timeupdate', function () {
                    var duration = $this.audio.duration
                    var currentTime = $this.audio.currentTime
                    var timeStr = $this.formatDate(currentTime, duration)
                    callBack(currentTime, duration, timeStr)
                    if($this.$audio[0].ended){
                        var $mode = $('.music_mode')
                        if($mode.hasClass('mode1')){
                            //循环播放
                            $('.list_music').eq(player.nextIndex()).find('.list_menu_play').trigger('click')
                        } else if($mode.hasClass('mode2')){
                            //列表播放
                            if($this.currentIndex < $this.musicList.length - 1){
                                $('.list_music').eq(player.nextIndex()).find('.list_menu_play').trigger('click')
                            } else {
                                var $item = $('.list_music').eq($this.currentIndex)
                                console.log($item);
                                // 切换播放图标
                                $item.find('.list_menu_play').removeClass('list_menu_play2')
                                // 同步底部播放按钮
                                $('.music_play').removeClass('music_play2')
                                $item.find('div').css('color', 'rgba(255,255,255,0.5)')
                                //切换序号的状态
                                $item.find('.list_number').toggleClass('list_number2')
                            }
                        } else if ($mode.hasClass('mode3')){
                            //随机播放
                            var num = Math.round(Math.random() * ($this.musicList.length - 1))
                            console.log(num);
                            $('.list_music').eq(num).find('.list_menu_play').trigger('click')
                        } else {
                            //单曲循环
                            var $item = $('.list_music').eq($this.currentIndex)
                            player.playMusic($item.get(0).index, $item.get(0).music)
                            //切换歌曲信息
                            g.initMusicInfo($item.get(0).music)
                            //切换歌词信息
                            g.initMusicLyric($item.get(0).music)

                        }
                    }
                })
            },
            formatDate: function (currentTime, duration) {
                var endMin = parseInt(duration / 60); // 2
                var endSec = parseInt(duration % 60);
                if(endMin < 10){
                    endMin = "0" + endMin;
                }
                if(endSec < 10){
                    endSec = "0" + endSec;
                }

                var startMin = parseInt(currentTime / 60); // 2
                var startSec = parseInt(currentTime % 60);
                if(startMin < 10){
                    startMin = "0" + startMin;
                }
                if(startSec < 10){
                    startSec = "0" + startSec;
                }
                return startMin+":"+startSec+" / "+endMin+":"+endSec;
            },
            musicSeekTo: function (value) {
                if(isNaN(value) || !this.$audio.attr("src")) return;
                this.audio.currentTime = this.audio.duration * value;
            },
            musicVoiceSeekTo: function (value) {
                if(isNaN(value)) return;
                if(value <0 || value > 1) return;
                // 0~1
                this.audio.volume = value;
            }
        }
        Player.prototype.init.prototype = Player.prototype;
        window.Player = Player;
    })(window);
</script>